@model ProyectoPP.Models.Roles

@{
    ViewBag.Title = "VistaRoles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Roles</h2>

<p>

</p>

<table class="table">
    <tr>
        <th>
            Funcionalidad
        </th>
        <th></th>
        <th>
            Rol
        </th>
    </tr>
    <th>
    <</th>>


    @for (int i = 0; i < Model.ListaRoles.Count; i++)
    {
            <td>
                @Html.DisplayFor(modelItem => Model.ListaRoles.ElementAt(i).Name)
            </td>



    }

    <tr>
    </tr>

    @for (int i = 0; i < Model.ListaPermisos.Count; i++)
    {
            <td>@Html.DisplayFor(modelItem => Model.ListaPermisos.ElementAt(i).permiso)</td>
            <td><input type="checkbox" id="cbox1" value="first_checkbox" disabled></td>
            <td><input type="checkbox" id="cbox2" value="first_checkbox"></td>
            <td><input type="checkbox" id="cbox3" value="first_checkbox"></td>

        <tr>
        </tr>

    }





</table>
<p align="right">
    <input type="submit" value="Editar" class="a" />
    <input type="submit" value="Aceptar" class="b" />
    <input type="submit" value="Cancelar" class="c" />
</p>






